#container{
    background-image: url(img/bacgroundMath.png);
    height: fit-content;
}

.content{
    color: black;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flexbox;
}

.maraton{
  font-weight: 500;
  font-style: oblique;
}

.navbarmy{
    background: linear-gradient(to bottom right, #8cc2f4, #ffffff);
    height:fit-content;
    margin-bottom: 10%;
}


.section{
    padding: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
    margin-bottom: 20%;
}

.img{
    height: 45vh;
    display: inline-block;
    margin: 4%;
}

.text{
    background: rgba(140,194,244,5);
    padding: 4%;
    justify-content: center;
    -webkit-box-shadow: 0px 12px 41px 7px rgba(100,179,224,0.66);
    -moz-box-shadow: 0px 12px 41px 7px rgba(100,179,224,0.66);
    box-shadow: 0px 12px 41px 7px rgba(100,179,224,0.66);
    text-align: center;
}

.imgbox{
    display: flex;
    align-items: center;
    justify-content: center;
}

.ZWZT{
    background-color: rgb(235, 0, 139) color(srgb rgb(255, 255, 255) rgb(25rgb(255, 255, 255)55, 255) rgb(255, 255, 255))
}

.cleaner{
    margin-top: 3%;
}

#map {
  float: left;
  height: 100%;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.pair{
    display: flex;
    align-items: center;
    justify-content: center;
}
@keyframes priceanimation {
        0%   {background-color: rgba(13, 141, 201, 0.339);}
        30%  {background-color: rgba(0, 179, 255, 0.736);}
        55%  {background-color: rgba(22, 149, 235, 0.881);}
        80% {background-color: rgba(6, 199, 252, 0.385);}
        100% {background-color: rgba(13, 141, 201, 0.339);}
      }

.price{
    animation-name: priceanimation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.special {
    position: relative;
    height: 40vh;
    margin-bottom: 30%;
  }

  .special .specialhelp1,
  .special .specialhelp2 {
    position: absolute;
    top: 50%; /* Wyśrodkowanie w pionie na 50% */
    left: 50%; /* Wyśrodkowanie w poziomie na 50% */
    transform: translate(-50%, -50%); /* Poprawka na wyśrodkowanie */
  }

  .special .specialhelp1 {
    z-index: 1;
    transition: opacity 0.6s ease-in-out;
  }

  .special:hover .specialhelp1 {
    opacity: 0;
  }

  .special .specialhelp2 {
    z-index: 2;
    opacity: 0;
    transition: opacity 0.6s ease-in-out;
  }

  .special:hover .specialhelp2 {
    opacity: 1;
  }


  /* Dla ekranów o szerokości mniejszej niż 600px */
@media (max-width: 600px) {
  .ghost {
    display: block; /* Ukryj ten element */
  }
}

/* Dla ekranów o szerokości większej niż 600px */
@media (min-width: 601px) {

  .ghost {
    display: none; /* Ukryj ten element */
  }
}